# Distribution file for the Example project.
# http://www.openengine.dk/wiki/Projects/LBM

# main repository
git / https://github.com/OpenEngineDK/openengine.git
git-dev / git@github.com:OpenEngineDK/openengine.git

# project repository
# (uncomment the following two lines after uploading your project)
git /projects/LBM https://github.com/OpenEngineDK/projects-LBM.git
git-dev /projects/LBM git@github.com:OpenEngineDK/projects-LBM.git

# dist dependencies

# required extensions
git /extensions/SDL                    https://github.com/OpenEngineDK/extensions-SDL.git
git /extensions/OpenGLRenderer         https://github.com/OpenEngineDK/extensions-OpenGLRenderer.git
git /extensions/GenericHandlers 	 https://github.com/OpenEngineDK/extensions-GenericHandlers.git

git-dev /extensions/SDL                    git@github.com:OpenEngineDK/extensions-SDL.git
git-dev /extensions/OpenGLRenderer         git@github.com:OpenEngineDK/extensions-OpenGLRenderer.git
git-dev /extensions/GenericHandlers 	     git@github.com:OpenEngineDK/extensions-GenericHandlers.git

# windows libraries

# darwin libraries

# linux libraries

# project data
